version: '3.9'

services:
  backend:
    build: ./backend
    container_name: backend
    expose:
      - "3000"
  
  frontend:
    build: ./frontend
    container_name: frontend
    expose:
      - "80"
  
  nginx-proxy:
    build: ./nginx
    container_name: nginx-proxy
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
